/* Paso 34
Los colores y las formas de su pintura son demasiado nítidos para pasar como un Rothko.

Utilice la propiedad filter para blur la pintura por 2px en el elemento .canvas.

Aquí hay un ejemplo de una regla que agrega un 3px blur:

Código de ejemplo
p {
  filter: blur(3px);
} */

.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    overflow: hidden;
    filter: blur(2px);

}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
}

.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 0 auto 20px;
}

.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
}